body {
  background: linear-gradient(135deg, #4a90e2, #8e44ad);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.card, .login-card {
  background: #d3dbd9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 500px;
  width: 250%;
}

.input-field {
  padding: 10px;
  border: 5px solid #0a0303;
  border-radius: 50px;
  font-size: 16px;
}

.add-button {
  background: #4a90e2;
  color: rgb(255, 255, 255);
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.logout-btn {
  background: #e74c3c;
  color: rgb(255, 255, 255);
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.toggle-text {
  color: blue;
  cursor: pointer;
  font-size: 14px;
}
